{% extends 'container_status/base.html' %}
<body>
{% block content %}
    {% if status_file_err is defined and status_file_err is sameas True %}
        <div class="alert alert-danger" role="alert">
            Internal Server Error. Please report this issue to the SA3 Core Automation Team.
        </div>
    {% else %}
        {% if cs is defined %}
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-4">Network Automation Services Platform</h1>
{#                    {% if cs.overall_status == "ACTIVE" %}#}
{#                        <h1 class="display-4">{{cs.display_name}}<span class="badge badge-success">{{cs.overall_status}}</span></h1>#}
{#                    {% else %}#}
{#                        <h1 class="display-4">{{cs.display_name}}<span class="badge badge-danger">{{cs.overall_status}}</span></h1>#}
{#                    {% endif %}#}

                </div>
            </div>
    <div class="card-deck mx-1">
        <div class="card bg-dark">
            {% if cs.overall_status == "ACTIVE" %}
                <h5 class="card-header text-white">NAS Automation Platform Version 1 <span class="badge-pill badge-success">{{ cs.overall_status }}</span></h5>
            {% else %}
                <h5 class="card-header text-white">NAS Automation Platform Version 1 <span class="badge-pill badge-danger">{{ cs.overall_status }}</span></h5>
            {% endif %}
            <div class="card-body">
                <div class="card-deck">
                    <div class="card">
                        <h5 class="card-header bg-danger text-white">Not Available</h5>
                        <div class="card-body">
                            <ul class="list-group">
                                {% for application, app_status in cs.applications.items() %}
                                    {% if cs.overall_status == 'NOT ACTIVE' %}
                                        {% set temp = app_status.update({'status': 'NOT ACTIVE'}) %}
                                        {% set temp = app_status.update({'additional_info': ""}) %}
                                    {% endif %}
                                    {% if app_status.status == 'NOT ACTIVE' %}
                                        <li class="list-group-item list-group-item-danger">
                                            {{application}}
                                            {% if app_status.additional_info is defined and app_status.additional_info != '' %}
                                                <p class="alert alert-info" role="alert">{{ app_status.additional_info }}</p>
                                            {%  endif %}
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                            {% if cs.overall_status == 'NOT ACTIVE'  %}
                                <div class="alert alert-info" role="alert">
                                    <p class="lead">Expected to be restored by:</p>
                                    <p class="lead">{{cs.restored_by}}</p>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="card">
                        <h5 class="card-header bg-success text-white">Available</h5>
                        <div class="card-body">
                            {% if cs.overall_status == 'ACTIVE' %}
                                {% set nas_url= 'https://network-automation-services.engapps.uscc.com' %}
                                <ul class="list-group">
                                    {% for application, app_status in cs.applications.items() %}
                                        {% if app_status.status == 'ACTIVE' %}
                                            <li class="list-group-item list-group-item-{{ app_status.coloring }}">
                                                <a href="{{ nas_url }}">{{application}}</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card bg-dark">
            {% if cs.p2_overall_status == "ACTIVE" %}
                <h5 class="card-header text-white">NAS Automation Platform Version 2 <span class="badge-pill badge-success">{{ cs.p2_overall_status }}</span></h5>
            {% else %}
                <h5 class="card-header text-white">NAS Automation Platform Version 2 <span class="badge-pill badge-danger">{{ cs.p2_overall_status }}</span></h5>
            {% endif %}
            <div class="card-body">
                <div class="card-deck">
                    <div class="card">
                        <h5 class="card-header bg-danger text-white">Not Available</h5>
                        <div class="card-body">
                            <ul class="list-group">
                                {% for application, app_status in cs.new_platform_apps.items() %}
                                    {% if cs.p2_overall_status == 'NOT ACTIVE' %}
                                        {% set temp = app_status.update({'status': 'NOT ACTIVE'}) %}
                                        {% set temp = app_status.update({'additional_info': ""}) %}
                                    {% endif %}
                                    {% if app_status.status == 'NOT ACTIVE' %}
                                        <li class="list-group-item list-group-item-danger">{{application}}
                                            {% if app_status.additional_info is defined and app_status.additional_info != '' %}
                                                <p class="alert alert-info" role="alert">{{ app_status.additional_info }}</p>
                                            {%  endif %}
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                            {% if cs.p2_overall_status == 'NOT ACTIVE'  %}
                                <div class="alert alert-info" role="alert">
                                    <p class="lead">Expected to be restored by:</p>
                                    <p class="lead">{{cs.p2_restored_by}}</p>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="card">
                        <h5 class="card-header bg-success text-white">Available</h5>
                        <div class="card-body">
                            {% if cs.p2_overall_status == 'ACTIVE' %}
                                {% set nas2_url = 'https://network-automation-services-platform.engapps.uscc.com' %}
                                <ul class="list-group">
                                    {% for application, app_status in cs.new_platform_apps.items() %}
                                        {% if app_status.status == 'ACTIVE' %}
                                            <li class="list-group-item list-group-item-{{ app_status.coloring }}">
                                                <a href="{{ nas2_url }}">{{application}}</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-deck mx-1">
        <div class="card">
            <h5 class="card-header bg-secondary text-white">Contact Us</h5>
            <div class="card-body">
                <p>For questions, click the link to generate an email to the
                    <a href="mailto:USCDLSA3AutomationEngineering@uscellular.com">SA3 Core Automation Engineering team.</a>
                </p>
                <a class="btn btn-outline-info btn-lg btn-block" href="{{ url_for('nas_faqs') }}">FAQs</a>
            </div>
        </div>
        <div class="card">
            <h5 class="card-header bg-secondary text-white">User Guides</h5>
            <div class="card-body">
                <ul class="list-group">
                    {% for application, app_status in cs.applications.items() %}
                        <a href="{{ app_status.sharepoint }}" class="list-group-item list-group-item-action list-group-item-{{ app_status.coloring }} list-group-item-">
                            {{ application }}
                        </a>
                    {% endfor %}
                    {% for application, app_status in cs.new_platform_apps.items() %}
                        <a href="{{ app_status.sharepoint }}" class="list-group-item list-group-item-action list-group-item-{{ app_status.coloring }} list-group-item-">
                            {{ application }}
                        </a>
                    {% endfor %}
                </ul>
                <p class="card-text">
                    <small class="text-muted">If presented with the message "Sorry, this site hasn't been shared with you." after clicking a link please reach out to the project owner to have them add you.</small>
                </p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <h5 class="card-header bg-info">Notifications</h5>
                    <div class="card-body">
                        <form method="POST">
                            <div class="card-group">
                                <div class="card border-light">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="add_delete_email_radio" id="addEmailRadio" value="add" required checked>
                                        <label class="form-check-label" for="addEmailRadio">Add</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="add_delete_email_radio" id="deleteEmailRadio" value="delete">
                                        <label class="form-check-label" for="deleteEmailRadio">Delete</label>
                                    </div>
                                </div>
                                <div class="card border-light">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="app_email_register_radio" id="allRadio" value="ALL" required>
                                        <label class="form-check-label" for="allRadio">ALL</label>
                                    </div>
                                    {% for application in list_registered_emails.keys() %}
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="app_email_register_radio" id="{{ application }}Radio" value="{{ application }}" required>
                                            <label class="form-check-label" for="{{ application }}Radio">{{ application.capitalize() }}</label>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="emailFormControl">Enter an Email address to receive notifications related to the NAS Platform and its applications.</label>
                                <input type="email" class="form-control" id="emailFormControl" placeholder="name@example.com" name="email_addr" required>
                                <button type="submit" class="btn btn-primary mt-2">Submit</button>
                            </div>
                        </form>
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                {% for message in messages %}
                                    {% if 'Error' in message %}
                                        {% set alert_type = 'alert-danger' %}
                                    {% else %}
                                        {% set alert_type = 'alert-success' %}
                                    {% endif %}
                                        <div class="alert {{ alert_type }}" role="alertdialog">
                                            {{ message }}
                                        </div>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card">
                    <h5 class="card-header bg-info">Registered Emails</h5>
                    <div class="card-body">
                        {% if list_registered_emails is defined %}
                            <div class="row">
                                <div class="col-3">
                                    <div class="list-group" id="list-tab" role="tablist">
                                        {% for app_name, apps_email_dict in list_registered_emails.items() %}
                                            <a class="list-group-item list-group-item-action {% if loop.index == 1 %}active{% endif %}" id="{{ app_name }}-email-list" data-toggle="list" href="#list-{{ app_name }}" role="tab">
                                                {{ app_name|replace("_", " ")|upper() }}
                                                <span class="badge badge-secondary badge-pill">{{ apps_email_dict.email_list|length }}</span>
                                            </a>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="col-9">
                                    <div class="tab-content" id="nav-tabContent">
                                        {% for app_name, apps_email_dict in list_registered_emails.items() %}
                                            <div class="tab-pane fade {% if loop.index == 1 %} show active{% endif %}" id="list-{{ app_name }}" role="tabpanel" aria-labelledby="{{ app_name }}-email-list">
                                                {% if apps_email_dict.email_list| length > 10 %}
                                                    <div class="row">
                                                        {% for email in apps_email_dict.email_list %}
                                                            <div class="col-sm-3 p-0">
                                                                <ul class="list-group">
                                                                    <li class="list-group-item">{{ email }}</li>
                                                                </ul>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                {% else %}
                                                    <ul class="list-group">
                                                        {% for email in apps_email_dict.email_list %}
                                                            <li class="list-group-item">{{ email }}</li>
                                                        {% endfor %}
                                                    </ul>
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="alert alert-danger" role="alert">Internal Error: Current list of registered emails couldn't be retrieved please contact SA3 Core
                                Automation Team
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
            <div class="card border-warning m-3">
                <div class="card-body">
                    <h5 class="card-title">Known Issues</h5>
                    <div class="accordion" id="knownIssuesaccordion">
                        <div class="card">
                            <div class="card-header bg-warning" id="ethersamUIWorkaroundHeading">
                                <button class="btn btn-link btn-block text-dark text-left" type="button" data-toggle="collapse" data-target="#ethersamUI" aria-expanded="false" aria-controls="ethersamUI">
                                    Ethersam UI long response time on test progress
                                </button>
                            </div>
                            <div id="ethersamUI" class="collapse hide" aria-labelledby="ethersamUIWorkaroundHeading" data-parent="#knownIssuesaccordion">
                                <div class="card-body">
                                    <p>We have found a minor issue with the EtherSAM Nokia Single Site automation. While running the EtherSAM automation a user may experience what appears to be a long response time or lack of updates on the automation progress (while it appears automation has stalled, in fact the automation is continuing to run).</p>
                                    To work around this issue:
                                    <ul class="list-group">
                                        <li class="list-group-item list-group-item-secondary">1)	Open a new browser session</li>
                                        <li class="list-group-item list-group-item-secondary">2)	Type in your Site ID</li>
                                        <li class="list-group-item list-group-item-secondary">3)	Select the log history</li>
                                        <li class="list-group-item list-group-item-secondary">4)	Select start and end date</li>
                                        <li class="list-group-item list-group-item-secondary">5)	Select show log</li>
                                        <li class="list-group-item list-group-item-secondary">6)	Select “view test results” for the top entry in the list (if there is more than one test result available)</li>
                                        <li class="list-group-item list-group-item-secondary">7)	Tail the active log by periodically doing a browser refresh</li>
                                    </ul>
                                    This will be fixed in the next release of the NAS Platform.
                                </div>
                            </div>
                        </div>
    {#                    <div class="card">#}
    {#                        <div class="card-header bg-danger" id="ethersamExfoResultErrorHeading">#}
    {#                            <button class="btn btn-link btn-block text-left text-white" type="button" data-toggle="collapse" data-target="#ethersamexfo" aria-expanded="false" aria-controls="ethersam423">#}
    {#                                Ethersam Status 423 Error#}
    {#                            </button>#}
    {#                        </div>#}
    {#                        <div id="ethersamexfo" class="collapse hide" aria-labelledby="ethersamExfoResultErrorHeading" data-parent="#knownIssuesaccordion">#}
    {#                            <div class="card-body">#}
    {#                                <p> There is a problem retrieving the test results during the <strong>Test Execution</strong> of an Ethersam Site Test in our Exfo system.#}
    {#                                <p>We apologize for this inconvenience and are working to restore the ability to retrieve test results in the Ethersam application directly.</p>#}
    {#                                <img src={{ url_for('static', filename='ethersam_exfo_results_error.png') }} class="img-fluid" alt="Ethersam Exfo Results Error">#}
    {#                            </div>#}
    {#                        </div>#}
    {#                    </div>#}
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock content %}
</body>