{% extends 'container_status/base.html' %}
<body>
{% block content %}
    {% if faq_file_err is defined %}
        <div class="alert alert-danger" role="alert">
            Internal Server error. Please report this issue to the SA3 Core Automation Team.
        </div>
    {% else %}
        {% for faq_type_key, faq_dicts in faq_dict.items() %}
            <div class="accordion" id="{{ faq_type_key }}FAQaccordion">
                <div class="card">
                    <div class="card-header bg-info" id="{{ faq_type_key }}FAQheading">
                        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#{{ faq_type_key }}FAQ" aria-expanded="false" aria-controls="{{ faq_type_key }}FAQ">
                            <span class="text-white" style="font-size:larger;">{{ faq_type_key.upper() }}</span>
                        </button>
                        {% if faq_dicts|length > 0 %}
                            <small class="text-white">Click to expand</small>
                        {% else %}
                            <small class="text-white">No FAQ content added yet.</small>
                        {% endif %}
                    </div>
                    {% for faq_title, faq_content in faq_dicts.items() %}
                        <div id="{{ faq_type_key }}FAQ" class="collapse" aria-labelledby="{{ faq_type_key }}FAQheading" data-parent="#{{ faq_type_key }}FAQaccordion">
                            <div class="card-body">
                                <div class="card">
                                    <div class="card-header bg-dark text-white">{{ faq_title }}</div>
                                    <div class="card-body">
                                        {% if faq_content is iterable and faq_content is not string %}
                                            {% for line in faq_content %}
                                                {{ line }}<br>
                                            {% endfor %}
                                        {% else %}
                                            {{ faq_content }}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock content %}
</body>