<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- BootStrap CSS -->
    <link rel="stylesheet" media="screen" href={{ url_for('static', filename='bootstrap.min.css') }}>
    <title>Update NAS Production Status</title>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <img src={{ url_for('static', filename='uscc_logo.jpg') }} width="30" class="d-inline-block align-top" alt="U.S. Cellular Logo">
            Update NAS Production Status
        </a>
{#        <form method="POST">#}
{#            {{ form.csrf_token }}#}
{#            <button type="submit" name="logout_btn" value='logout' class="btn btn-outline-danger">Logout</button>#}
{#        </form>#}
    </nav>
    <div class="card">
        <div class="card-body">
{#            <div class="form-check">#}
                <div class="custom-control custom-switch form-check">
                    <input type="checkbox" class="custom-control-input" id="nasStatusSwitch">
                    <label class="custom-control-label" for="nasStatusSwitch">NAS Production Status</label>
                </div>
                <button type="submit" class="btn btn-primary mt-2">Submit</button>
{#            </div>#}
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="../../static/bootstrap.min.js"></script>
</body>
</html>